In [19]:
from nba_api.stats.endpoints import leaguedashplayerstats
import pandas as pd
import time
from nba_api.stats.endpoints import playergamelog
pd.set_option('display.max_rows', None)       # Show all rows
pd.set_option('display.max_columns', None)    # Show all columns
pd.set_option('display.width', 1000)          # Set the width to accommodate more columns
pd.set_option('display.max_colwidth', None)   # Set maximum column width to None (auto adjust)
pd.set_option('display.float_format', '{:.2f}'.format)

In [7]:

# Define the range of seasons from 1980 to the most recent (replace '2022-23' with the most recent season available)
seasons = [f"{year}-{str(year + 1)[-2:]}" for year in range(1990, 2024)]

# Initialize an empty list to collect all season data
all_players_stats = []

# Loop through each season to fetch player stats
for season in seasons:
    try:
        # Fetch player stats for the season
        stats = leaguedashplayerstats.LeagueDashPlayerStats(season=season, timeout=60)
        season_df = stats.get_data_frames()[0]
        
        # Add a column for the season
        season_df['SEASON'] = season
        
        # Append the season data to the list
        all_players_stats.append(season_df)
        
        # Optional: Pause to avoid rate limits (1 second between requests)
        time.sleep(1)
        
        print(f"Data for {season} season retrieved successfully.")
    except Exception as e:
        print(f"Error retrieving data for {season}: {e}")
        continue

# Combine all seasons' data into a single DataFrame
all_players_stats_df = pd.concat(all_players_stats, ignore_index=True)

# Save to a CSV file for future use
all_players_stats_df.to_csv('all_players_stats_since_1980.csv', index=False)

# Display the first few rows of the final DataFra

Data for 1990-91 season retrieved successfully.
Data for 1991-92 season retrieved successfully.
Data for 1992-93 season retrieved successfully.
Data for 1993-94 season retrieved successfully.
Data for 1994-95 season retrieved successfully.
Data for 1995-96 season retrieved successfully.
Data for 1996-97 season retrieved successfully.
Data for 1997-98 season retrieved successfully.
Data for 1998-99 season retrieved successfully.
Data for 1999-00 season retrieved successfully.
Data for 2000-01 season retrieved successfully.
Data for 2001-02 season retrieved successfully.
Data for 2002-03 season retrieved successfully.
Data for 2003-04 season retrieved successfully.
Data for 2004-05 season retrieved successfully.
Data for 2005-06 season retrieved successfully.
Data for 2006-07 season retrieved successfully.
Data for 2007-08 season retrieved successfully.
Data for 2008-09 season retrieved successfully.
Data for 2009-10 season retrieved successfully.
Data for 2010-11 season retrieved successfully.
Data for 2011-12 season retrieved successfully.
Data for 2012-13 season retrieved successfully.
Data for 2013-14 season retrieved successfully.
Data for 2014-15 season retrieved successfully.
Data for 2015-16 season retrieved successfully.
Data for 2016-17 season retrieved successfully.
Data for 2017-18 season retrieved successfully.
Data for 2018-19 season retrieved successfully.
Data for 2019-20 season retrieved successfully.
Data for 2020-21 season retrieved successfully.
Data for 2021-22 season retrieved successfully.
Data for 2022-23 season retrieved successfully.
Data for 2023-24 season retrieved successfully.

C:\Users\DELL\AppData\Local\Temp\ipykernel_20112\2105054254.py:29: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  all_players_stats_df = pd.concat(all_players_stats, ignore_index=True)

In [8]:
all_players_stats_df.head()

  PLAYER_ID     PLAYER_NAME NICKNAME     TEAM_ID TEAM_ABBREVIATION   AGE  GP   W   L  W_PCT     MIN  FGM  FGA  FG_PCT FG3M FG3A  FG3_PCT  FTM  FTA  FT_PCT OREB DREB  REB  AST TOV STL BLK BLKA   PF PFD  PTS PLUS_MINUS  NBA_FANTASY_PTS DD2 TD3  WNBA_FANTASY_PTS GP_RANK W_RANK L_RANK W_PCT_RANK MIN_RANK FGM_RANK FGA_RANK FG_PCT_RANK FG3M_RANK FG3A_RANK FG3_PCT_RANK FTM_RANK FTA_RANK FT_PCT_RANK OREB_RANK DREB_RANK REB_RANK AST_RANK TOV_RANK STL_RANK BLK_RANK BLKA_RANK PF_RANK PFD_RANK PTS_RANK PLUS_MINUS_RANK NBA_FANTASY_PTS_RANK DD2_RANK TD3_RANK WNBA_FANTASY_PTS_RANK   SEASON
0       920      A.C. Green     A.C.  1610612742               DAL 33.00  83  23  60   0.28 2494.30  234  484    0.48    1   20     0.05  128  197    0.65  222  434  656   69  74  70  16   43  145   4  597       -350          1671.70  16   0           1495.00       1    238    423        354       77      152      155         101       271       227          302      130      120         318        21        28       28      209      196       98      202       342     272       18      151             421                  117       49       24                   135  1996-97
1       243     Aaron McKie    Aaron  1610612765               DET 24.00  83  48  35   0.58 1623.91  150  365    0.41   41  103     0.40   92  110    0.84   40  181  221  161  90  77  22   36  130   0  433        133          1146.70   1   0           1054.00       1     67    303        158      168      203      196         302       127       134           63      172      186          60       228       148      168      110      165       85      155       319     247      192      195              70                  180      168       24                   181  1996-97
2      1425  Aaron Williams    Aaron  1610612763               VAN 25.00  33   4  29   0.12  562.42   85  148    0.57    0    1     0.00   33   49    0.67   62   81  143   15  32  16  29    7   72   0  203       -104           500.10   0   0            451.00     329    392    256        425      301      273      302           8       303       341          303      290      285         296       173       265      232      340      292      290      120       117     152      192      284             337                  282      219       24                   287  1996-97
3       768       Acie Earl     Acie  1610612749               MIL 27.00  47  14  33   0.30  500.14   67  179    0.37    0    5     0.00   54   84    0.64   35   61   96   20  35  15  28    8   61   0  188        -60           427.20   0   0            390.00     287    308    285        342      311      297      281         381       303       287          303      234      223         324       248       297      289      324      284      299      123       126     140      192      290             303                  300      219       24                   301  1996-97
4       228      Adam Keefe     Adam  1610612762               UTA 27.00  62  48  14   0.77  916.79   82  160    0.51    0    1     0.00   71  103    0.69   75  141  216   32  45  30  13   13   97   1  235        122           626.20   1   0            569.00     215     67    115         39      252      274      292          52       303       341          303      197      197         278       147       185      173      289      261      228      222       169     183       90      270              74                  258      168       24                   261  1996-97

In [9]:
columns_to_drop = [
    'NBA_FANTASY_PTS', 'DD2', 'TD3', 'WNBA_FANTASY_PTS', 'GP_RANK', 'W_RANK', 'L_RANK', 'W_PCT_RANK',
    'MIN_RANK', 'FGM_RANK', 'FGA_RANK', 'FG_PCT_RANK', 'FG3M_RANK', 'FG3A_RANK', 'FG3_PCT_RANK',
    'FTM_RANK', 'FTA_RANK', 'FT_PCT_RANK', 'OREB_RANK', 'DREB_RANK', 'REB_RANK', 'AST_RANK', 
    'TOV_RANK', 'STL_RANK', 'BLK_RANK', 'BLKA_RANK', 'PF_RANK', 'PFD_RANK', 'PTS_RANK', 
    'PLUS_MINUS_RANK', 'NBA_FANTASY_PTS_RANK', 'DD2_RANK', 'TD3_RANK', 'WNBA_FANTASY_PTS_RANK'
]

all_players_stats_df = all_players_stats_df.drop(columns=columns_to_drop)

In [10]:
all_players_stats_df[all_players_stats_df['SEASON'] == '1991-92']

Empty DataFrame
Columns: [PLAYER_ID, PLAYER_NAME, NICKNAME, TEAM_ID, TEAM_ABBREVIATION, AGE, GP, W, L, W_PCT, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, TOV, STL, BLK, BLKA, PF, PFD, PTS, PLUS_MINUS, SEASON]
Index: []

In [16]:
lebron_active_stats_df = all_players_stats_df[all_players_stats_df['PLAYER_NAME'] == 'LeBron James']

      PLAYER_ID   PLAYER_NAME NICKNAME     TEAM_ID TEAM_ABBREVIATION   AGE  GP   W   L  W_PCT     MIN  FGM   FGA  FG_PCT FG3M FG3A  FG3_PCT  FTM  FTA  FT_PCT OREB DREB  REB  AST  TOV  STL BLK BLKA   PF  PFD   PTS PLUS_MINUS   SEASON
3315       2544  LeBron James   LeBron  1610612739               CLE 19.00  79  33  46   0.42 3126.86  622  1492    0.42   63  217     0.29  347  460    0.75   99  333  432  465  273  130  58   76  149    0  1654       -144  2003-04
3777       2544  LeBron James   LeBron  1610612739               CLE 20.00  80  41  39   0.51 3383.97  795  1684    0.47  108  308     0.35  477  636    0.75  111  477  588  577  262  177  52   71  146    0  2175        151  2004-05
4241       2544  LeBron James   LeBron  1610612739               CLE 21.00  79  47  32   0.59 3360.62  875  1823    0.48  127  379     0.34  601  814    0.74   75  481  556  521  260  123  66   65  181  591  2478        275  2005-06
4692       2544  LeBron James   LeBron  1610612739               CLE 22.00  78  47  31   0.60 3190.29  772  1621    0.48   99  310     0.32  489  701    0.70   83  443  526  470  250  125  55   49  171  517  2132        378  2006-07
5153       2544  LeBron James   LeBron  1610612739               CLE 23.00  75  45  30   0.60 3026.80  794  1642    0.48  113  359     0.32  549  771    0.71  133  459  592  539  255  138  81   61  165  590  2250        138  2007-08
5596       2544  LeBron James   LeBron  1610612739               CLE 24.00  81  66  15   0.81 3054.06  789  1613    0.49  132  384     0.34  594  762    0.78  106  507  613  587  241  137  93   59  139  583  2304        872  2008-09
6046       2544  LeBron James   LeBron  1610612739               CLE 25.00  76  60  16   0.79 2965.73  768  1528    0.50  129  387     0.33  593  773    0.77   71  483  554  651  261  125  77   43  119  531  2258        650  2009-10
6501       2544  LeBron James   LeBron  1610612748               MIA 26.00  79  57  22   0.72 3062.98  758  1485    0.51   92  279     0.33  503  663    0.76   80  510  590  554  284  124  50   38  163  466  2111        619  2010-11
6985       2544  LeBron James   LeBron  1610612748               MIA 27.00  62  45  17   0.73 2326.22  621  1169    0.53   54  149     0.36  387  502    0.77   94  398  492  387  213  115  50   31   96  379  1683        474  2011-12
7454       2544  LeBron James   LeBron  1610612748               MIA 28.00  76  61  15   0.80 2877.05  765  1354    0.56  103  254     0.41  403  535    0.75   97  513  610  551  226  129  67   41  110  439  2036        720  2012-13
7914       2544  LeBron James   LeBron  1610612748               MIA 29.00  77  52  25   0.68 2901.87  767  1353    0.57  116  306     0.38  439  585    0.75   81  452  533  488  270  121  26   42  126  459  2089        409  2013-14
8410       2544  LeBron James   LeBron  1610612739               CLE 30.00  69  50  19   0.72 2493.42  624  1279    0.49  120  339     0.35  375  528    0.71   51  365  416  511  272  109  49   48  135  412  1743        541  2014-15
8892       2544  LeBron James   LeBron  1610612739               CLE 31.00  76  56  20   0.74 2708.58  737  1416    0.52   87  282     0.31  359  491    0.73  111  454  565  514  249  104  49   69  143  413  1920        618  2015-16
9369       2544  LeBron James   LeBron  1610612739               CLE 32.00  74  51  23   0.69 2794.57  736  1344    0.55  124  342     0.36  358  531    0.67   97  542  639  646  303   92  44   60  134  440  1954        483  2016-17
9888       2544  LeBron James   LeBron  1610612739               CLE 33.00  82  50  32   0.61 3025.59  857  1580    0.54  149  406     0.37  388  531    0.73   97  612  709  747  347  116  71   68  136  439  2251        105  2017-18
10433      2544  LeBron James   LeBron  1610612747               LAL 34.00  55  28  27   0.51 1937.40  558  1095    0.51  111  327     0.34  278  418    0.67   57  408  465  454  197   72  33   52   94  320  1505        116  2018-19
10960      2544  LeBron James   LeBron  1610612747               LAL 35.00  67  50  17   0.75 2316.27  643  1303    0.49  148  425     0.35  264  381    0.69   66  459  525  684  261   78  36   59  118  339  1698        442  2019-20
11495      2544  LeBron James   LeBron  1610612747               LAL 36.00  45  30  15   0.67 1503.70  422   823    0.51  104  285     0.36  178  255    0.70   29  317  346  350  168   48  25   27   70  206  1126        287  2020-21
12076      2544  LeBron James   LeBron  1610612747               LAL 37.00  56  25  31   0.45 2084.34  640  1221    0.52  161  448     0.36  254  336    0.76   63  396  459  349  196   73  59   46  121  306  1695       -117  2021-22
12639      2544  LeBron James   LeBron  1610612747               LAL 38.00  55  30  25   0.55 1953.94  609  1219    0.50  121  377     0.32  251  327    0.77   65  392  457  375  178   50  32   47   88  273  1590        214  2022-23
13210      2544  LeBron James   LeBron  1610612747               LAL 39.00  71  41  30   0.58 2503.68  685  1269    0.54  149  363     0.41  303  404    0.75   61  457  518  589  245   89  38   59   78  308  1822        218  2023-24

In [23]:
lebron_id = '2544'

seasons = ['2005-06', '2006-07', '2007-08', '2008-09', '2009-10', '2010-11', '2011-12', '2012-13', '2013-14',
           '2014-15', '2015-16', '2016-17', '2017-18', '2019-20', '2020-21', '2021-22']

all_playoff_stats = []

for season in seasons:
    try:
        stats = playergamelog.PlayerGameLog(player_id=lebron_id, season=season, season_type_all_star="Playoffs")
        season_df = stats.get_data_frames()[0]
        
        # Check if there is data for this season and append it
        if not season_df.empty:
            all_playoff_stats.append(season_df)
            print(f"Data for {season} season retrieved successfully.")
    except Exception as e:
        print(f"Error retrieving data for {season}: {e}")

# Combine all playoff data into one DataFrame
lebron_all_playoffs_df = pd.concat(all_playoff_stats, ignore_index=True)

print("LeBron James's All-Time Playoff Stats:")

Data for 2005-06 season retrieved successfully.
Data for 2006-07 season retrieved successfully.
Data for 2007-08 season retrieved successfully.
Data for 2008-09 season retrieved successfully.
Data for 2009-10 season retrieved successfully.
Data for 2010-11 season retrieved successfully.
Data for 2011-12 season retrieved successfully.
Data for 2012-13 season retrieved successfully.
Data for 2013-14 season retrieved successfully.
Data for 2014-15 season retrieved successfully.
Data for 2015-16 season retrieved successfully.
Data for 2016-17 season retrieved successfully.
Data for 2017-18 season retrieved successfully.
Data for 2019-20 season retrieved successfully.
Data for 2020-21 season retrieved successfully.
LeBron James's All-Time Playoff Stats:

In [25]:
lebron_all_playoffs_df.head()

  SEASON_ID  Player_ID     Game_ID     GAME_DATE      MATCHUP WL  MIN  FGM  FGA  FG_PCT  FG3M  FG3A  FG3_PCT  FTM  FTA  FT_PCT  OREB  DREB  REB  AST  STL  BLK  TOV  PF  PTS  PLUS_MINUS  VIDEO_AVAILABLE
0     42005       2544  0040500207  MAY 21, 2006    CLE @ DET  L   47   11   24    0.46     0     4     0.00    5    8    0.62     3     5    8    2    1    0    3   2   27         -16                0
1     42005       2544  0040500206  MAY 19, 2006  CLE vs. DET  L   48    8   20    0.40     1     5     0.20   15   18    0.83     0    11   11    5    1    1    7   2   32          -2                0
2     42005       2544  0040500205  MAY 17, 2006    CLE @ DET  W   47   13   30    0.43     1     4     0.25    5    7    0.71     3     2    5    5    2    1    2   3   32           2                0
3     42005       2544  0040500204  MAY 15, 2006  CLE vs. DET  W   48    8   23    0.35     1     2     0.50    5   10    0.50     1     7    8    9    2    2    8   3   22           2                0
4     42005       2544  0040500203  MAY 13, 2006  CLE vs. DET  W   48    9   18    0.50     1     4     0.25    2    2    1.00     0    10   10   10    4    1    4   2   21           9                0

In [11]:
df_playoff_lebron = pd.read_csv("C:\\Users\\DELL\\Downloads\\lebron_stats (1).csv")

In [12]:
df_playoff_lebron

     Season   Age Team   Lg Pos     G    GS     MP   PER  TS%  3PAr  FTr  ORB%  DRB%  TRB%  AST%  STL%   BLK%  TOV%  USG%    OWS  DWS   WS  WS/48  OBPM  DBPM   BPM  VORP        Awards
0   2005-06 21.00  CLE  NBA  SF 13.00 13.00 604.00 23.20 0.56  0.20 0.38  4.40 16.20 10.30 28.10  1.70    1.3 15.30 33.50    1.0 0.70 1.70   0.14  6.30  1.20  7.50  1.40           NaN
1   2006-07 22.00  CLE  NBA  SF 20.00 20.00 893.00 23.90 0.52  0.19 0.49  3.40 17.90 10.60 37.40  2.10    1.0 12.00 29.70    2.1 1.60 3.70   0.20  5.30  2.80  8.10  2.20           NaN
2   2007-08 23.00  CLE  NBA  SF 13.00 13.00 552.00 24.30 0.53  0.26 0.61  3.40 19.30 11.20 40.50  2.30    2.6 13.40 34.70    1.0 1.20 2.20   0.19  6.70  3.40 10.10  1.70           NaN
3   2008-09 24.00  CLE  NBA  SF 14.00 14.00 580.00 37.40 0.62  0.26 0.64  4.30 23.60 14.20 39.50  2.20    1.8  8.70 36.40    3.7 1.10 4.80   0.40 12.80  4.80 17.50  2.90           NaN
4   2009-10 25.00  CLE  NBA  SF 11.00 11.00 460.00 28.60 0.61  0.24 0.57  4.00 22.10 13.30 36.80  2.10    3.0 13.70 30.90    1.5 0.80 2.30   0.24  8.50  3.00 11.50  1.60           NaN
5   2010-11 26.00  MIA  NBA  SF 21.00 21.00 922.00 23.70 0.56  0.23 0.42  4.60 18.20 11.60 27.60  2.10    2.2 13.00 26.90    2.4 1.40 3.80   0.20  5.20  1.90  7.10  2.10           NaN
6   2011-12 27.00  MIA  NBA  SF 23.00 23.00 983.00 30.30 0.58  0.17 0.47  6.80 20.50 13.80 28.10  2.40    1.3 11.80 33.40    4.2 1.60 5.80   0.28  8.10  2.50 10.50  3.10  Finals MVP-1
7   2012-13 28.00  MIA  NBA  PF 23.00 23.00 960.00 28.10 0.58  0.22 0.41  4.80 19.70 12.40 30.50  2.30    1.6 12.10 29.20    3.7 1.50 5.20   0.26  8.40  2.00 10.40  3.00  Finals MVP-1
8   2013-14 29.00  MIA  NBA  PF 20.00 20.00 763.00 31.00 0.67  0.25 0.47  2.50 21.40 12.30 25.60  2.60    1.4 12.90 31.60    3.4 0.90 4.30   0.27  8.50  1.80 10.30  2.40           NaN
9   2014-15 30.00  CLE  NBA  SF 20.00 20.00 844.00 25.30 0.49  0.20 0.31  4.90 24.30 14.70 45.20  2.10    2.1 11.70 37.60    1.6 1.50 3.00   0.17  5.90  2.00  7.90  2.10           NaN
10  2015-16 31.00  CLE  NBA  SF 21.00 21.10 822.00 30.00 0.58  0.23 0.30  6.10 22.40 14.40 36.60  3.20  3.2.1 13.70 30.70  3.2.2 1.50 4.70   0.27  7.40  3.60 11.00  2.70  Finals MVP-1
11  2016-17 32.00  CLE  NBA  SF 18.00 18.00 744.00 30.10 0.65  0.28 0.42  3.10 21.60 12.80 33.80  2.30    2.6 13.70 31.60    3.2 1.10 4.30   0.28  7.70  2.10  9.80  2.20           NaN
12  2017-18 33.00  CLE  NBA  PF 22.00 22.00 922.00 32.20 0.62  0.22 0.42  3.90 22.30 12.90 46.40  1.70    2.3 13.50 35.00    4.2 1.00 5.20   0.27 10.10  2.60 12.70  3.40           NaN
13  2019-20 35.00  LAL  NBA  PG 21.00 21.00 762.00 30.20 0.65  0.31 0.39  4.40 30.50 17.50 42.00  1.70    2.3 15.80 30.40    3.0 1.20 4.30   0.27  7.60  3.10 10.70  2.40  Finals MVP-1
14  2022-23 38.00  LAL  NBA  PF 16.00 16.00 619.00 22.60 0.58  0.36 0.31  4.60 21.60 13.60 27.40  1.30    2.6 10.70 26.60    1.3 0.90 2.20   0.17  5.50  2.00  7.60  1.50           NaN
15  2023-24 39.00  LAL  NBA  PF  5.00  5.00 204.00 26.00 0.64  0.26 0.23  2.20 15.90  9.20 36.40  3.00    2.1 14.80 29.00    0.5 0.30 0.80   0.18  6.60  4.00 10.60  0.70           NaN

In [14]:
from nba_api.stats.endpoints import playercareerstats
import pandas as pd

# Define Michael Jordan's player ID (found in players.json or the NBA API documentation)
jordan_id = '893'  # Michael Jordan's player ID

# Fetch Michael Jordan's career stats
jordan_stats = playercareerstats.PlayerCareerStats(player_id=jordan_id)
jordan_stats_df = jordan_stats.get_data_frames()[0]

# Filter only his active seasons (he played from 1984-85 to 2002-03 with breaks in between)
# Heres a list of all his active seasons
jordan_active_seasons = [
    '1984-85', '1985-86', '1986-87', '1987-88', '1988-89', '1989-90', '1990-91', '1991-92', '1992-93',
    '1994-95', '1995-96', '1996-97', '1997-98', '2001-02', '2002-03'
]

# Filter the DataFrame to include only his active seasons
jordan_active_stats_df = jordan_stats_df[jordan_stats_df['SEASON_ID'].isin(jordan_active_seasons)]

# Display the first few rows of Michael Jordan's active season stats
print("Michael Jordan's Stats for All Active Seasons:")

Michael Jordan's Stats for All Active Seasons:

In [15]:
jordan_active_stats_df

    PLAYER_ID SEASON_ID LEAGUE_ID     TEAM_ID TEAM_ABBREVIATION  PLAYER_AGE  GP  GS     MIN   FGM   FGA  FG_PCT  FG3M  FG3A  FG3_PCT  FTM  FTA  FT_PCT  OREB  DREB  REB  AST  STL  BLK  TOV   PF   PTS
0         893   1984-85        00  1610612741               CHI       22.00  82  82 3144.00   837  1625    0.52     9    52     0.17  630  746    0.84   167   367  534  481  196   69  291  285  2313
1         893   1985-86        00  1610612741               CHI       23.00  18   7  451.00   150   328    0.46     3    18     0.17  105  125    0.84    23    41   64   53   37   21   45   46   408
2         893   1986-87        00  1610612741               CHI       24.00  82  82 3281.00  1098  2279    0.48    12    66     0.18  833  972    0.86   166   264  430  377  236  125  272  237  3041
3         893   1987-88        00  1610612741               CHI       25.00  82  82 3311.00  1069  1998    0.54     7    53     0.13  723  860    0.84   139   310  449  485  259  131  252  270  2868
4         893   1988-89        00  1610612741               CHI       26.00  81  81 3255.00   966  1795    0.54    27    98     0.28  674  793    0.85   149   503  652  650  234   65  290  247  2633
5         893   1989-90        00  1610612741               CHI       27.00  82  82 3197.00  1034  1964    0.53    92   245     0.38  593  699    0.85   143   422  565  519  227   54  247  241  2753
6         893   1990-91        00  1610612741               CHI       28.00  82  82 3034.00   990  1837    0.54    29    93     0.31  571  671    0.85   118   374  492  453  223   83  202  229  2580
7         893   1991-92        00  1610612741               CHI       29.00  80  80 3102.00   943  1818    0.52    27   100     0.27  491  590    0.83    91   420  511  489  182   75  200  201  2404
8         893   1992-93        00  1610612741               CHI       30.00  78  78 3067.00   992  2003    0.49    81   230     0.35  476  569    0.84   135   387  522  428  221   61  207  188  2541
9         893   1994-95        00  1610612741               CHI       32.00  17  17  668.00   166   404    0.41    16    32     0.50  109  136    0.80    25    92  117   90   30   13   35   47   457
10        893   1995-96        00  1610612741               CHI       33.00  82  82 3090.00   916  1850    0.49   111   260     0.43  548  657    0.83   148   395  543  352  180   42  197  195  2491
11        893   1996-97        00  1610612741               CHI       34.00  82  82 3109.00   920  1892    0.49   111   297     0.37  480  576    0.83   113   369  482  352  140   44  166  156  2431
12        893   1997-98        00  1610612741               CHI       35.00  82  82 3181.00   881  1893    0.47    30   126     0.24  565  721    0.78   130   345  475  283  141   45  185  151  2357
13        893   2001-02        00  1610612764               WAS       39.00  60  53 2089.00   551  1324    0.42    10    53     0.19  263  333    0.79    50   289  339  310   85   26  162  119  1375
14        893   2002-03        00  1610612764               WAS       40.00  82  67 3029.00   679  1527    0.45    16    55     0.29  266  324    0.82    71   426  497  311  123   39  173  171  1640

In [16]:
best_season_by_pts = jordan_active_stats_df.loc[jordan_active_stats_df['PTS'].idxmax()]

In [17]:
best_season_by_pts

PLAYER_ID                   893
SEASON_ID               1986-87
LEAGUE_ID                    00
TEAM_ID              1610612741
TEAM_ABBREVIATION           CHI
PLAYER_AGE                24.00
GP                           82
GS                           82
MIN                     3281.00
FGM                        1098
FGA                        2279
FG_PCT                     0.48
FG3M                         12
FG3A                         66
FG3_PCT                    0.18
FTM                         833
FTA                         972
FT_PCT                     0.86
OREB                        166
DREB                        264
REB                         430
AST                         377
STL                         236
BLK                         125
TOV                         272
PF                          237
PTS                        3041
Name: 2, dtype: object

In [5]:
df_playoffs_jordan = pd.read_csv("C:\\Users\\DELL\\Downloads\\jordan_stats.csv")

In [18]:
df_playoffs_jordan

     Season  Age Team   Lg Pos   G  GS   MP   PER  TS%  3PAr  FTr  ORB%  DRB%  TRB%  AST%  STL%  BLK%  TOV%  USG%  OWS  DWS   WS  WS/48  OBPM  DBPM   BPM  VORP        Awards
0   1984-85   21  CHI  NBA  SG   4   4  171 24.70 0.56  0.10 0.74  4.70 12.60  8.40 31.30  3.20  1.50 12.70 28.70 0.60 0.10 0.70   0.20  7.60  1.90  9.50  0.50           NaN
1   1985-86   22  CHI  NBA  SG   3   3  135 30.10 0.58  0.01 0.41  4.00 13.60  8.40 26.50  2.50  1.90 11.10 39.20 0.40 0.00 0.50   0.16 10.10  1.70 11.90  0.40           NaN
2   1986-87   23  CHI  NBA  SG   3   3  128 28.10 0.53  0.06 0.46  6.30 15.00 10.20 30.40  2.50  3.40  7.30 38.80 0.30 0.10 0.40   0.17  9.90  2.90 12.70  0.50           NaN
3   1987-88   24  CHI  NBA  SG  10  10  427 28.40 0.60  0.01 0.38  5.80 12.70  9.20 23.10  2.90  1.50 11.40 35.20 1.30 0.80 2.10   0.23  8.50  3.70 12.20  1.50           NaN
4   1988-89   25  CHI  NBA  SG  17  17  718 29.90 0.60  0.09 0.59  4.40 14.40  9.60 38.00  3.10  1.20 12.20 35.40 2.80 1.20 4.00   0.27  9.10  3.10 12.10  2.50           NaN
5   1989-90   26  CHI  NBA  SG  16  16  674 31.70 0.59  0.12 0.37  4.20 16.60 10.20 34.50  3.50  1.50 10.10 36.10 2.70 1.30 4.00   0.28 10.20  3.50 13.70  2.70           NaN
6   1990-91   27  CHI  NBA  SG  17  17  689 32.00 0.60  0.07 0.39  3.40 16.00  9.90 36.70  3.20  2.40  8.90 32.70 3.20 1.50 4.80   0.33 10.50  4.10 14.60  2.90  Finals MVP-1
7   1991-92   28  CHI  NBA  SG  22  22  920 27.20 0.57  0.08 0.33  4.90 13.20  9.10 28.30  2.60  1.20 10.90 37.10 2.40 1.70 4.10   0.22  8.30  1.60  9.90  2.80  Finals MVP-1
8   1992-93   29  CHI  NBA  SG  19  19  783 30.10 0.55  0.14 0.32  5.00 14.90 10.00 29.40  2.70  1.60  7.00 38.00 3.30 1.10 4.40   0.27  9.70  1.80 11.60  2.70  Finals MVP-1
9   1994-95   31  CHI  NBA  SG  10  10  420 24.80 0.56  0.12 0.32  6.00 12.70  9.50 22.50  3.00  2.80 12.70 35.70 0.70 0.60 1.30   0.15  5.80  2.20  8.00  1.00           NaN
10  1995-96   32  CHI  NBA  SG  18  18  733 26.70 0.56  0.15 0.46  4.90 10.20  7.40 21.20  2.50  0.70  7.90 32.90 3.40 1.30 4.70   0.31  8.80  1.90 10.70  2.40  Finals MVP-1
11  1996-97   33  CHI  NBA  SG  19  19  804 27.10 0.52  0.14 0.30  5.90 16.40 10.90 25.70  2.10  1.90  8.00 35.50 2.50 1.50 3.90   0.23  8.10  1.70  9.90  2.40  Finals MVP-1
12  1997-98   34  CHI  NBA  SG  21  21  872 28.10 0.55  0.08 0.42  4.50 11.00  7.60 19.90  2.10  1.10  6.70 36.60 3.60 1.20 4.80   0.27  8.00  1.00  9.00  2.40  Finals MVP-1